html
{
	color: white;
	background: url(http://www.siue.edu/~mhallor/madisonrobertsphotography/background.png);
}

h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

img
{
	display:block;
	margin:auto;
	padding:1em;
    border:1em solid #021a40;
    background-color:#ff0;
}

.welcome
{
	text-align: center;
}