html
{
	color: white;
	background: url(http://www.siue.edu/~mhallor/madisonrobertsphotography/background.png) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

h1
{
	text-align: center;
} 

h2
{
	text-align: center;
}

img
{
	display:block;
	margin:auto;
	padding:.5em;
    border:.5em solid grey;
    background-color:whitesmoke;
    width:20%;
    height:20%;
}

.welcome
{
	text-align: center;
	font-size: 1em;
}